<!DOCTYPE html>
<html>
  <head>
    <% include ./templates/head.ejs %>
  </head>
  <body>
    <div class="main-form">
      <h2>Authentication</h2>
      <p>We use Google+ for authentication so you can register with ease.</p>
      <button class="btn btn-danger" onclick="window.location.href='/auth/google'">
        <div class="container">
          <div class="row">
            <div class="col-md">
              <i class="fa fa-google-plus" aria-hidden="true"></i> Continue with Google+
            </div>
          </div>
        </div>
      </button>
    </div>
  </body>
</html>
