@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
  font-family: 'Nunito Sans',sans-serif;
  background:#eee;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  letter-spacing: normal;
}

p {
  letter-spacing: normal;
}

.m-header-1 {
  background: -moz-linear-gradient(to top, rgba(14, 157, 255, 0.7) 0%, rgba(14, 157, 255, 0.5) 50%), url('/images/m-header-3.jpg') no-repeat;
  background: -webkit-linear-gradient(to top, rgba(14, 157, 255, 0.7) 0%, rgba(14, 157, 255, 0.5) 50%), url('/images/m-header-3.jpg') no-repeat;
  background: -o-linear-gradient(to top, rgba(14, 157, 255, 0.7) 0%, rgba(14, 157, 255, 0.5) 50%), url('/images/m-header-3.jpg') no-repeat;
  background: linear-gradient(to top left, rgba(14, 157, 255, 0.8) 40%, rgba(14, 157, 255, 0.8) 75%), url('/images/m-header-3.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.navbar-dark{
  background:transparent !important;
}

.navbar .ml-auto .button {
  margin-right:10px;
  border-radius:12px;
  background:transparent;
  border:2px solid #fff;
  padding-right:5px;
  padding-left:5px;
}

.navbar .ml-auto .button:hover {
  background:#fff;
  border:2px solid transparent;
}

.navbar .ml-auto .button a {
  font-weight: bold;
  color:#fff;
}

.navbar .ml-auto .button:hover a {
  color:#333;
}

.navbar-light .ml-auto .button a {
  font-weight: bold;
  color:#333;
}

.navbar-light .ml-auto .button {
  margin-right:10px;
  border-radius:12px;
  background:transparent;
  border:2px solid #333;
  padding-right:5px;
  padding-left:5px;
}

.navbar-light .ml-auto .button:hover a {
  color:#fff;
}

.navbar-light .ml-auto .button:hover {
  background:#333;
  border:2px solid transparent;
}

.livewire-jumbotron .main-homepage-register {
  border-radius:5px;
  background:#eee;
  padding:20px;
}

.livewire-jumbotron .main-homepage-register p{
  color:#333;
}

.livewire-jumbotron label {
  text-transform: uppercase;
}

.livewire-jumbotron {
  padding:5rem 0px;
}

.livewire-jumbotron h1 {
  color:#fff;
}

.livewire-jumbotron p {
  font-family: "Poppins",sans-serif;
  font-weight: 300;
  font-size:20px;
  color:rgba(255,255,255,.8);
}

.livewire-jumbotron .-border-left {
  border-left:1px solid rgba(255,255,255,.4);
}

.main-content-features-1 {
  background:#fff;
  padding:40px;
  margin-top:20px;
  margin-bottom:20px;
}

.main-content-features-1 .col-lg {
  text-align: center;
}

.main-content-features-1 .fa {
  padding-bottom:10px;
  font-size:18px;
}

.main-content-features-1-header {
  text-align: center;
  margin:40px 0px;
}

.main-content-features-1-header h1{
  color:rgb(14, 157, 255);
}

.main-content-features-1-row {
  margin-top:40px;
}

.main-content-features-1 hr{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:20%;
}

.main-form {
  text-align: center;
  margin-top:20px;
  background:#fff;
  width:25%;
  padding:30px;
  border:1px solid rgba(0,0,0,.1);
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.grey-box {
  padding:30px;
  background:#eee;
}

.nav-tabs .active {
  border-bottom:1px solid #333;
}

.no-align {
  text-align: inherit;
}

.main-content-buttons-col {
  text-align: right;
}

.main-content-buttons-col .btn {
  margin-top:2px;
  width:100px;
  text-align: right;
}

.text-muted-grey {
  color:rgba(0,0,0,.4);
}

.doc-table {
  text-align: left;
  margin:10px 0px;
  background: rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  border-radius:5px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.doc-header {
  padding:10px 20px;
  background:#fff;
}

.doc-content {
  padding:10px 20px;
}

.doc-header h4,
.doc-header p,
.doc-content p,
.doc-content h5{
  margin:0;
}

.doc-table:hover{
  transform: scale(1.05);
  cursor:pointer;
}

.text-right {
  text-align: right;
}

.doc-header img {
  width:24px;
  height:auto;
  margin-right:5px;
}

.levels {
  border:1px solid rgba(0,0,0,.1);
  padding:20px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.account_form {
  margin-top:20px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top:5px;

}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.main_checkbox img {
  border-radius:50%;
  margin-top:5px;
  width:60px
}

.swal-content h3{
  text-align: left
}

.swal-label {
  letter-spacing: .2px;
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  color:rgba(0,0,0,.4)
}

.filter_posts {
  border:1px solid rgba(0,0,0,.1);
  padding:10px;
}
